{% extends 'layouts/master.html.twig' %}

{% block title %}Nouveau Formation
{% endblock %}

{% block content %}
	<h1>Ajouter nouveau Formation</h1>

	{{ include('formation/_form.html.twig') }}
	<div class="card-footer">
		<button class="btn btn-info " type="submit">
			<a href="{{ path('formation_index') }}" class="text-white">back to list</a>

		</button>
	</div>

{% endblock %}
