{% extends 'layouts/master.html.twig' %}

{% block title %}Bienvenu !
{% endblock %}
{% block content %}
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Welcome to your profile</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="#">Home</a>
						</li>
						<a href="{{path("app_logout")}}" class="breadcrumb-item active">Deconnexion</a>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<section class="content">
		<div
			class="container-fluid">
			<!-- Small boxes (Stat box) -->
			<div
				class="row">

				<!-- ./col -->
				<div
					class="col-lg-4 col-6">
					<!-- small box -->
					<div class="small-box bg-success">
						<div class="inner">
							<h3>{{nb_services}}<sup style="font-size: 20px"></sup>
							</h3>

							<p>Services</p>
						</div>
						<div class="icon">
							<i class="far fa-copy"></i>
						</div>
						<a href="service" class="small-box-footer">More info
							<i class="fas fa-arrow-circle-right"></i>
						</a>
					</div>
				</div>
				<!-- ./col -->
				<div
					class="col-lg-4 col-6">
					<!-- small box -->
					<div class="small-box bg-warning">
						<div class="inner">
							<h3>{{nb_rendezvous}}</h3>

							<p>Rendez-vous</p>
						</div>
						<div class="icon">
							<i class="fas fa-comments"></i>
						</div>
						<a href="rendez/vous" class="small-box-footer">More info
							<i class="fas fa-arrow-circle-right"></i>
						</a>
					</div>
				</div>
				<!-- ./col -->
				<div
					class="col-lg-4 col-6">
					<!-- small box -->
					<div class="small-box bg-danger">
						<div class="inner">
							<h3>{{nb_msg}}</h3>

							<p>Message</p>
						</div>
						<div class="icon">
							<i class="far fa-envelope"></i>
						</div>
						<a href="message" class="small-box-footer">More info
							<i class="fas fa-arrow-circle-right"></i>
						</a>
					</div>
				</div>
				<!-- ./col -->
			</div>
			<!-- /.row -->
			<!-- Main row -->
			<div
				class="row">
				<!-- Left col -->
				<section class="col-lg-7 connectedSortable"></section>
				<!-- /.Left col -->
				<!-- right col (We are only adding the ID to make the widgets sortable)-->
				<section
					class="col-lg-5 connectedSortable"><!-- /.card -->
				</section>
				<!-- right col -->
			</div>
			<!-- /.row (main row) -->
		</div>
		<!-- /.container-fluid -->

	</section>
{% endblock %}
