{% extends 'layouts/master.html.twig' %}

{% block title %}Modifier service
{% endblock %}

{% block content %}
	<h1>Modifier Service</h1>

	{{ include('service/_form.html.twig', {'button_label': 'Update'}) }}
	<div class="card-footer">
		<button class="btn btn-info " type="submit">
			<a href="{{ path('service_index') }}" class="text-white">back to list</a>

		</button>
	</div>

{% endblock %}
