<form action="{{path('formation_new')}}" method="post">
	<div class="card-body">
		<div class="form-group">
			<label for="exampleInputdate">Date Debut</label>
			<input type="date" name="date" class="form-control" placeholder="Enter date">
		</div>
		<div class="form-group">
			<label for="exampleInputdate">Deadline
			</label>
			<input type="date" name="date" class="form-control" placeholder="Enter date">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Responsable
			</label>
			<input type="text" class="form-control" name="responsable" placeholder="responsable">
		</div>


		<div class="form-group">
			<label for="exampleInputNom">Equipe
			</label>
			<input type="text" class="form-control" name="equipe">
		</div>
		<div class="form-group">
			<label for="exampleInputPrenom">Technologie
			</label>
			<input type="text" class="form-control" name="technologie">
		</div>


	</div>
	<!-- /.card-body -->

	<div class="card-footer">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>
