{% extends 'layouts/master.html.twig' %}

{% block title %}Modifier Projet
{% endblock %}

{% block content %}
	<h1>Modifier Projet</h1>

	{{ include('projet/_form.html.twig', {'button_label': 'Update'}) }}
	<div class="card-footer">
		<button class="btn btn-info " type="submit">
			<a href="{{ path('projet_index') }}" class="text-white">back to list</a>

		</button>
	</div>


{% endblock %}
