{% extends 'layouts/master.html.twig' %}

{% block title %}Nouveau Projet
{% endblock %}

{% block content %}
	<h1>Ajouter nouveau Projet</h1>

	{{ include('projet/_form.html.twig') }} 
	<div class="card-footer">
		<button class="btn btn-info " type="submit">
			<a href="{{ path('projet_index') }}"class="text-white">back to list</a>

		</button>
	</div>


{% endblock %}
